body {
    overflow: hidden;
}
    .datatable-crud-demo .table-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    
    .datatable-crud-demo .product-image {
        width: 100px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }

    .datatable-crud-demo .p-dialog .product-image {
        width: 150px;
        margin: 0 auto 2rem auto;
        display: block;
    }

    .datatable-crud-demo .confirmation-content {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .p-datatable .p-datatable-tbody > tr > td {
        text-align: left;
        border: 1px solid #e9ecef;
        border-width: 0 0 1px 0;
        padding: 0rem 0rem ; 
        outline-color: #a6d5fa;
    }
    .p-datatable .p-datatable-thead > tr > th {
        text-align: left;
        padding: 1rem 0rem; 
        border: 1px solid #e9ecef;
        border-width: 0 0 1px 0;
        font-size: 16px;
        font-weight: 500;
        color: #495057;
        background: #f8f9fa;
      
    }
    .pi {
        font-size: 12px;
    }

    .p-mb- {
        background : white;
    }
    .p-paginator {
        display: flex;
        align-items: center;
        justify-content: left;
        flex-wrap: wrap;
    }
    .p-field-1{
        justify-content: center;
    }
    .main-header {
        width: 100%;
        height: 70px;
        background-color: orange;
        padding: 12px;
        display: flex;
    }
    .main-header h2 {
        color: white;
        /* padding: 15px; */
        margin-left: 10px;
    }
    .main-footer {
        width: 100%;
        height: 40px;
        background-color: black;
        color: white;
        display: flex;
        justify-content: space-around;
        padding: 10px;
    }

    .p-component {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: 14px;
        font-weight: normal;
    }
  .quant {
      text-align: center;
      border: 1px solid red;
  }
  .p-datatable .p-datatable-header {
    background:whitesmoke; 
     color: #495057; 
     border: 1px solid #e9ecef; 
     border-width: 1px 0 1px 0; 
    padding: 0px;
     font-weight: 600; 
    
}

.p-button.p-button-success, .p-buttonset.p-button-success > .p-button, .p-splitbutton.p-button-success > .p-button, .p-new-choose.p-button-success {
    color: #ffffff;
    background: #2196F3;
    border: 1px solid #2196F3;
}



.p-button.p-button-danger, .p-buttonset.p-button-danger > .p-button, .p-splitbutton.p-button-danger > .p-button, .p-delete-choose.p-button-danger {
    color: #ffffff;
    background: #2196F3;
    border: 1px solid #2196F3;
}

.p-button.p-button-success, .p-buttonset.p-button-success > .p-button, .p-splitbutton.p-button-success > .p-button, .p-fileupload-choose.p-button-success {
    color: #ffffff;
    background: #2196F3;
    border: 1px solid #2196F3;
}

.p-button.p-button-help, .p-buttonset.p-button-help > .p-button, .p-splitbutton.p-button-help > .p-button, .p-fileupload-choose.p-button-help {
    color: #ffffff;
    background: #2196F3;
    border: 1px solid #2196F3;
}
.p-dialog .p-dialog-content {
    background: #ffffff;
    color: #495057;
    /* padding: 0 1.5rem 2rem 1.5rem; */
}
.search {
 
         width: 13rem;
        padding: 5px;
        margin-bottom: 10px;
        margin-left: 12px; 
       
    
}
.col-md-3 {
    flex: 0 0 25%;
    max-width: 15%;
}
.btn {
    height: 30px;
}